<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To-Do List</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.css}" href="css/bootstrap.css">
    <link rel="stylesheet" th:href="@{css/bootstrap-grid.css}" href="css/bootstrap-grid.css">
    <link rel="stylesheet" th:href="@{css/bootstrap-reboot.css}" href="css/bootstrap-reboot.css">
</head>
<body>
<div class="container mt-4">
    <h1>To-Do List</h1>
    <form th:action="@{/addTask}" method="post">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="task" placeholder="Add a new task" required>
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Add</button>
            </div>
        </div>
    </form>
    <ul class="list-group">
        <li th:each="task : ${taskList}" class="list-group-item" th:text="${task.getName()}"></li>
    </ul>
</div>
<script type="text/javascript" th:src="@{js/jquery-3.3.1.min.js}" src="js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" th:src="@{js/bootstrap.bundle.js}" src="js/bootstrap.bundle.js"></script>
<script type="text/javascript" th:src="@{js/bootstrap.js}" src="js/bootstrap.js"></script>

</body>
</html>